<p>
  <strong>User:</strong>
  <%= @user_new.name %>
</p>
 
<p>
  <strong>Email:</strong>
  <%= @user_new.email%>
</p>

<p>
  <strong>Celular:</strong>
  <%= @user_new.cellphone %>
</p>

<%= link_to 'Regresar', user_index_path %>